doctype html 
html

    head
        title="Login"
        script(defer="true")
            include ./scripts/authorizeUser.js
            include ./scripts/login.js

    body
        h1="Please enter your credentials:"
        p   
            label(for="inputUsername")#labelUsername Username 
            br
            input(type="text")#inputUsername 
        p   
            label(for="inputPassword")#labelPassword Password 
            br
            input(type="text")#inputPassword
        p 
            button#buttonLogin login 
            button#buttonRegister register